apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ .Release.Name }}
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  config.yml: |-
  {{- if .Values.config.access_key }}
    access_key: {{ .Values.config.access_key }}
  {{- end }}
  {{- if .Values.config.secret_access_key }}
    secret_access_key: {{ .Values.config.secret_access_key }}
  {{- end }}
    aws_region: {{ .Values.config.aws_region }}
    loglevel: {{ .Values.config.loglevel }}
    upload_queue_buffer: {{ .Values.config.upload_queue_buffer }}
    upload_workers: {{ .Values.config.upload_workers }}
    checksum_workers: {{ .Values.config.checksum_workers }}
    watch_interval: {{ .Values.config.watch_interval }}
    s3_ops_retries: {{ .Values.config.s3_ops_retries }}
    sites:
    {{- toYaml .Values.config.sites | nindent 4 -}}
