name: Generate Helm documentation
on:
  - pull_request
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Add Homebrew to $PATH
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH

      - name: Install helm-docs
        run: brew install helm-docs

      - name: Run helm-docs
        run: |
          helm-docs \
            --chart-search-root charts/s3sync-service \
            --template-files ./docs-template.md \
            --output-file ../../docs/helm-charts.md \
            --values-file values.yaml

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Helm Docs Auto Commit
